@import "reuse";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 10px;
}

body {
  font-family: "Noto Serif JP", Georgia, "Times New Roman", serif !important;
  font-size: 1 rem;
}

a {
  text-decoration: none;
}

.container {
  position: relative;
  margin: {
    left: auto;
    right: auto;
  }
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  .navbar {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.25) 0%,
      rgba(0, 0, 0, 0.04) 64%,
      rgba(0, 0, 0, 0) 91%
    ) !important;
    .container {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      a {
        font-size: 1.5rem;
        color: #000000;
      }

      > div {
        display: flex;
        justify-content: center;
        align-items: center;

        a.btn-contact {
          width: 177px;
          height: 39px;
          background-color: $green-color;
          padding: 8px 16px;
          color: white;
          font-size: 1.4rem;
          white-space: nowrap;
          transition: all 300ms ease;
          &:hover {
            background-color: $link-hover-color;
          }
        }
        .navbar-toggler {
          width: 32px;
          height: 32px;
          padding: 5px;
          margin-left: 15px;
          cursor: pointer;
          border: 0;
          background-color: transparent;
          span {
            width: 100%;
            height: 2px;
            background-color: #000000;
            display: block;
            &:not(:last-child) {
              margin-bottom: 0.4rem;
            }
          }
        }
      }
    }
  }
}

main {
  .container {
    max-width: 1400px;
  }
  > section.hero {
    background-color: #fff;
    background-image: url("/assets/images/header-bg3.png");
    background-repeat: no-repeat;
    background-position: center bottom 0px;
    background-size: cover;
    padding: 7% 0;
    > div {
      text-align: center;
      color: white;
      padding: 9.5% 0;
      > p {
        @include hero-header;
      }
    }
  }
  > section.contact-section {
    .container {
      width: 90%;
      max-width: 1400px;
      .contact-content-header {
        > p {
          @include header;
        }
        > div {
          @include boundary;
        }
      }
      .contact-info {
        background-color: #fafafa;
        background-image: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.5) 0%,
            rgba(0, 0, 0, 0.5) 99%
          ),
          url("/assets/images/bg03-min.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
        text-align: center;
        color: white;
        > div:first-child {
          > p {
            @include subheader;
          }
        }
        > div:last-child {
          font-size: 16px;
          font-weight: 500;
          letter-spacing: 2px;
          line-height: 2.25em;
        }
      }
      .contact-form {
        padding: 10% 8% 0;
        form {
          max-width: 765px;
          margin: 0 auto;
          font-size: 14px;
          color: #999;
          input:not(#contact_captcha, [type="checkbox"]),
          textarea,
          select {
            padding: 16px;
            border: 0;
            width: 100%;
            background-color: #f7f7f7;
            font-size: 14px;
            color: #999;
            font-family: "Noto Serif JP", Helvetica, Arial, Lucida, sans-serif;
            outline: 0;
            > option {
              line-height: normal;
              color: black;
            }
          }

          textarea {
            min-height: 150px;
            height: 100px;
            max-width: 100%;
          }
          > p {
            margin-bottom: 3%;
            &.check-field {
              > span {
                display: block;
              }
              .checkbox-container {
                display: block;
                position: relative;
                padding-left: 30px;
                margin-bottom: 12px;
                cursor: pointer;
                font-size: 14px;
                user-select: none;
                input {
                  position: absolute;
                  opacity: 0;
                  cursor: pointer;
                  height: 0;
                  width: 0;
                  &:checked ~ .checkmark {
                    &:after {
                      display: block;
                    }
                  }
                }
                .checkmark {
                  position: absolute;
                  top: 0;
                  left: 0;
                  height: 20px;
                  width: 20px;
                  background-color: #f7f7f7;
                  &:after {
                    content: "";
                    position: absolute;
                    display: none;
                    left: 7px;
                    top: 2px;
                    width: 5px;
                    height: 10px;
                    border: solid $link-color;
                    border-width: 0 3px 3px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                  }
                }
              }
            }
          }
          > div {
            text-align: right;
            color: #666666;
            input {
              max-width: 50px;
              padding: 16px;
              border: 0;
              background-color: #f7f7f7;
              font-size: 14px;
              color: #999;
              font-family: "Noto Serif JP", Helvetica, Arial, Lucida, sans-serif;
            }
            button {
              background-color: $green-color;
              padding: 15px 80px;
              margin-left: 18px;
              font-style: 15px;
              color: white;
              border: 0;
              font-family: "Noto Serif JP", Helvetica, Arial, Lucida, sans-serif;
              letter-spacing: 2px;
            }
          }
          .submit-commet {
            display: block;
            color: black;
            text-align: right;
            font-size: 13px;
            letter-spacing: 2px;
            line-height: 2.25em;
            margin: 30px 0;
          }
        }
      }
      .contact-email {
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.7em;
        padding: 30px 0;
        > p {
          padding-bottom: 14px;
        }
        > a {
          color: $link-color;
        }
      }
    }
  }
}

footer {
  padding: 80px 0;
  background-color: #161616;
  .container {
    margin: 0 11%;
    padding: 0;
    a {
      color: #fff;
      font-size: 14px;
      letter-spacing: 1px;
      line-height: 2.25em;
    }
    > div:last-child {
      text-align: center;
      margin-top: 84px;
      > p {
        color: #fff;
        letter-spacing: 2px;
      }
    }
    .footer-row2 {
      margin-top: 30px;
    }
    .footer-col {
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 1150px) {
  .navbar {
    padding: 0 40px;
    .container {
      padding: 0 12px;
      .navbar-menu {
        display: none;
        position: absolute;
        top: calc(100% - 1px);
        left: 0;
        width: 100%;
        background-color: white;
        border-radius: 5px;
        padding: 4rem;
        border-top: 3px solid $green-color;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        .navbar-nav {
          li {
            list-style-type: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.03);
            &:hover {
              opacity: 0.7;
              background-color: rgba(0, 0, 0, 0.03);
            }
            a {
              display: block;
              padding: 12px 37.25px;
            }
          }
          .mobile-display-dropdown {
            li:not(:first-child) {
              margin-left: 40px;
            }
          }
          .dropdown {
            display: none;
          }

          .mobile-display-contact {
            display: block;
          }
        }
      }
      .btn-contact {
        margin-left: 10px;
      }
      .navbar-toggler {
        display: block;
      }
    }
  }
}

@media only screen and (max-width: 980px) {
  main {
    > section.hero > div {
      > p {
        font-size: 34px;
      }
      .main-log {
        width: 430px;
      }
    }
    > section.contact-section {
      .container {
        .contact-info {
          padding: 120px 80px;
          > div {
            &:first-child {
              padding-bottom: 30px;
              border-bottom: 1px white solid;
            }
            &:last-child {
              padding-top: 30px;
            }
          }
        }
      }
    }
  }
  footer {
    .container {
      .footer-row1 {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        .footer-col {
          &:first-child,
          &:last-child {
            padding-bottom: 15px;
          }
        }
      }
      .footer-row2 {
        display: block;
        .footer-col {
          padding: 15px 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    padding: 0 12px;
    .container {
      padding: 0 12px;
    }
  }
  .favicon {
    display: block;
  }
  .brand-img {
    display: none;
  }
  main {
    > section {
      &.hero {
        padding: 17% 0;
        > div {
          > p {
            font-size: 30px;
          }
          .main-log {
            width: 300px;
          }
        }
      }
      &.contact-section {
        padding: 80px 0;
        .container {
          .contact-info {
            padding: 50px 30px;
          }
        }
      }
    }
  }
  footer {
    .container {
      > div:last-child {
        > p {
          font-size: 14px;
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  footer {
    .container {
      .footer-row1 {
        display: block;
        .footer-col {
          &:first-child,
          &:nth-child(2) {
            padding: 15px 0;
          }
          padding: 0;
          padding: 15px 0;
        }
      }
      .footer-row2 {
        display: block;
        margin: 0;
        .footer-col {
          padding: 15px 0;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .favicon {
    display: none;
  }
  .brand-img {
    display: block;
  }
  .line-break {
    display: none;
  }
  main {
    .contact-section {
      padding: 140px 0;
    }
  }
}

@media (min-width: 980px) {
  header .navbar {
    padding: 0 20px;
  }
  main {
    > section.hero > div {
      font-size: 40px;
      .main-log {
        width: 530px;
      }
    }
    > section.contact-section {
      .container {
        .contact-info {
          padding: 116px 80px;
          display: grid;
          grid-template-columns: repeat(2, minmax(0, 1fr));
          > div {
            margin: auto;
            &:first-child {
              height: 100%;
              display: flex;
              align-items: center;
            }
            &:last-child {
              border-left: 1px white solid;
            }
          }
        }
      }
    }
  }
  footer {
    .container {
      .footer-row1 {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
      }
      .footer-row2 {
        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33%;
      }
      > div:last-child {
        > p {
          font-size: 12px;
        }
      }
    }
  }
}

@media (min-width: 1150px) {
  .navbar {
    .container {
      max-width: 1960px;
    }
  }
  .btn-contact {
    margin-left: 20px;
  }
  .navbar-toggler {
    display: none;
  }

  .navbar-menu .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    > li {
      list-style-type: none;
      white-space: nowrap;
      letter-spacing: 1px;
      padding: 31px 11px;
    }

    .mobile-display-contact {
      display: none;
    }
    .mobile-display-dropdown {
      display: none;
    }

    .active {
      color: $green-color;
    }
    :hover {
      a {
        transition: all 0.4s ease-in-out;
        opacity: 0.7;
      }
    }

    .dropdown {
      .dropdown-content {
        background-color: #fff;
        border-radius: 5px;
        position: absolute;
        top: calc(100% - 1px);
        list-style-type: none;
        padding: 20px 20px;
        width: 240px;
        border-top: 1px solid #3a3a3a;
        opacity: 0;
        > li {
          position: relative;
          line-height: 2em;
          padding: 9px 20px;
          a {
            opacity: 1;
          }
        }
      }
      &:hover .dropdown-content {
        opacity: 1;
        transition: all 0.4s ease-in-out;
        > li:hover {
          background-color: rgba(0, 0, 0, 0.03);
          > a {
            opacity: 0.7;
          }
        }
      }
    }
  }
}
