@import "reuse";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 10px;
}

body {
  font-family: "Noto Serif JP", Georgia, "Times New Roman", serif !important;
  font-size: 1 rem;
}

a {
  text-decoration: none;
}

.container {
  position: relative;
  margin: {
    left: auto;
    right: auto;
  }
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  .navbar {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.25) 0%,
      rgba(0, 0, 0, 0.04) 64%,
      rgba(0, 0, 0, 0) 91%
    ) !important;
    .container {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      a {
        font-size: 1.5rem;
        color: #000000;
      }

      > div {
        display: flex;
        justify-content: center;
        align-items: center;

        a.btn-contact {
          width: 177px;
          height: 39px;
          background-color: $green-color;
          padding: 8px 16px;
          color: white;
          font-size: 1.4rem;
          white-space: nowrap;
          transition: all 300ms ease;
          &:hover {
            background-color: $link-hover-color;
          }
        }
        .navbar-toggler {
          width: 32px;
          height: 32px;
          padding: 5px;
          margin-left: 15px;
          cursor: pointer;
          border: 0;
          background-color: transparent;
          span {
            width: 100%;
            height: 2px;
            background-color: #000000;
            display: block;
            &:not(:last-child) {
              margin-bottom: 0.4rem;
            }
          }
        }
      }
    }
  }
}

main {
  .container {
    max-width: 1400px;
  }
  > section.hero {
    background-color: #fff;
    background-image: url("/assets/images/header-bg3.png");
    background-repeat: no-repeat;
    background-position: center bottom 0px;
    background-size: cover;
    > div {
      text-align: center;
      color: white;
      > p {
        @include hero-header;
      }
    }
  }
  > section.practice-content {
    .container {
      width: 90%;
      max-width: 1400px;
      > div {
        &:first-child {
          > p {
            @include header;
          }
          > div {
            @include boundary;
            margin-top: 20px;
            margin-bottom: 40px;
          }
        }
        &:last-child {
          .practice-content-row {
            margin-bottom: 24px;
            &:not(:first-child) {
              margin-top: 50px;
            }
            & + div {
              > p {
                text-align: center;
                &:first-child {
                  @include subheader;
                  margin-bottom: 20px;
                }
                &:last-child {
                  font-size: 16px;
                  font-weight: 300;
                  letter-spacing: 1px;
                  line-height: 2.25em;
                }
              }
            }
            .practice-content-col {
              img {
                max-width: 100%;
                margin: auto;
              }
            }
          }
        }
      }
    }
  }
  > section.ryuha-intro {
    background-color: #fafafa;
    background-image: linear-gradient(
        180deg,
        rgba(242, 242, 242, 0.7) 0%,
        rgba(242, 242, 242, 0.7) 100%
      ),
      url("/assets/images/bg03-min-scaled.jpeg") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    .container {
      width: 90%;
      max-width: 1400px;
      > div {
        &:first-child {
          > p {
            @include header;
          }
          > div {
            @include boundary;
          }
        }
        &:last-child {
          .ryuha-intro-row {
            &:last-child {
              margin-top: 80px;
            }
            .ryuha-intro-col {
              display: flex;
              flex-direction: column;
              justify-content: center;
              img {
                max-width: 100%;
                margin: 0 auto 0 0;
              }
              > p {
                &:first-child {
                  @include subheader;
                  margin-bottom: 1.5em;
                }
                &:last-child {
                  font-size: 16px;
                  font-weight: 300;
                  letter-spacing: 1px;
                  line-height: 2.25em;
                  a {
                    color: $link-color;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  > section:last-child {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.6) 0%,
        rgba(0, 0, 0, 0.6) 100%
      ),
      url("/assets/images/bg07.png") !important;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    .container {
      width: 90%;
      max-width: 1400px;
      .row {
        .col {
          img {
            max-width: 100%;
            margin: auto;
          }
          > p {
            @include subheader;
            text-align: center;
            line-height: 4.5em;
            color: white;
          }
        }
      }
    }
  }
}

footer {
  padding: 80px 0;
  background-color: #161616;
  .container {
    margin: 0 11%;
    padding: 0;
    a {
      color: #fff;
      font-size: 14px;
      letter-spacing: 1px;
      line-height: 2.25em;
    }
    > div:last-child {
      text-align: center;
      margin-top: 84px;
      > p {
        color: #fff;
        letter-spacing: 2px;
      }
    }
    .footer-row2 {
      margin-top: 30px;
    }
    .footer-col {
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 1150px) {
  .navbar {
    padding: 0 40px;
    .container {
      padding: 0 12px;
      .navbar-menu {
        display: none;
        position: absolute;
        top: calc(100% - 1px);
        left: 0;
        width: 100%;
        background-color: white;
        border-radius: 5px;
        padding: 4rem;
        border-top: 3px solid $green-color;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        .navbar-nav {
          li {
            list-style-type: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.03);
            &:hover {
              opacity: 0.7;
              background-color: rgba(0, 0, 0, 0.03);
            }
            a {
              display: block;
              padding: 12px 37.25px;
            }
          }
          .mobile-display-dropdown {
            li:not(:first-child) {
              margin-left: 40px;
            }
          }
          .dropdown {
            display: none;
          }

          .mobile-display-contact {
            display: block;
          }
        }
      }
      .btn-contact {
        margin-left: 10px;
      }
      .navbar-toggler {
        display: block;
      }
    }
  }
}

@media only screen and (max-width: 980px) {
  main {
    > section.hero > div {
      padding-top: 15%;
      padding-bottom: 17%;
      > p {
        font-size: 34px;
      }
      .main-log {
        width: 430px;
      }
    }
    > section.practice-content {
      .practice-content-row {
        display: block;
        .practice-content-col {
          &:not(:last-child) {
            margin-bottom: 24px;
          }
        }
      }
    }
    > section.ryuha-intro {
      .container {
        > div:last-child {
          .ryuha-intro-row {
            display: flex;
            flex-direction: column;
            &:first-child {
              .ryuha-intro-col {
                &:last-child {
                  > p:first-child {
                    margin-top: 1.5em;
                  }
                }
              }
            }
            &:last-child {
              .ryuha-intro-col {
                &:first-child {
                  order: 2;
                  > p:first-child {
                    margin-top: 1.5em;
                  }
                }
                &:last-child {
                  order: 1;
                  text-align: left;
                }
              }
            }
          }
        }
      }
    }
  }
  footer {
    .container {
      .footer-row1 {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        .footer-col {
          padding: 15px 0;
        }
      }
      .footer-row2 {
        display: block;
        .footer-col {
          padding: 15px 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .navbar {
    padding: 0 12px;
    .container {
      padding: 0 12px;
    }
  }
  .favicon {
    display: block;
  }
  .brand-img {
    display: none;
  }
  main {
    > section {
      &.hero {
        padding: 17% 0;
        > div {
          > p {
            font-size: 30px;
          }
          .main-log {
            width: 300px;
          }
        }
      }
      &:not(:first-child) {
        padding: 80px 0;
      }
    }
  }
  footer {
    .container {
      > div:last-child {
        > p {
          font-size: 14px;
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  footer {
    .container {
      .footer-row1 {
        display: block;
        .footer-col {
          &:first-child,
          &:nth-child(2) {
            padding: 15px 0;
          }
          padding: 0;
          padding: 15px 0;
        }
      }
      .footer-row2 {
        display: block;
        margin: 0;
        .footer-col {
          padding: 15px 0;
        }
      }
    }
  }
}

@media (min-width: 767px) {
  .favicon {
    display: none;
  }
  .brand-img {
    display: block;
  }
  .line-break {
    display: none;
  }
  main {
    > section:not(:first-child) {
      padding: 140px 0;
    }
  }
}

@media (min-width: 980px) {
  header .navbar {
    padding: 0 20px;
  }
  main {
    > section.hero > div {
      font-size: 40px;
      padding-top: 11%;
      padding-bottom: 14%;
      .main-log {
        width: 530px;
      }
    }
    > section.practice-content {
      .practice-content-row {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 3%;
      }
    }
    > section.ryuha-intro {
      .container {
        > div:last-child {
          .ryuha-intro-row {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 5.5%;
          }
        }
      }
    }
    > section:last-child {
      .container {
        .row {
          display: grid;
          grid-template-columns: repeat(3, minmax(0, 1fr));
          gap: 5.5%;
        }
      }
    }
  }
  footer {
    .container {
      .footer-row1 {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
      }
      .footer-row2 {
        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33%;
      }
      > div:last-child {
        > p {
          font-size: 12px;
        }
      }
    }
  }
}

@media (min-width: 1150px) {
  .btn-contact {
    margin-left: 20px;
  }
  .navbar-toggler {
    display: none;
  }

  .navbar-menu .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    > li {
      list-style-type: none;
      white-space: nowrap;
      letter-spacing: 1px;
      padding: 31px 11px;
    }

    .mobile-display-contact {
      display: none;
    }
    .mobile-display-dropdown {
      display: none;
    }

    .active {
      color: $green-color;
    }
    :hover {
      a {
        transition: all 0.4s ease-in-out;
        opacity: 0.7;
      }
    }

    .dropdown {
      .dropdown-content {
        background-color: #fff;
        border-radius: 5px;
        position: absolute;
        top: calc(100% - 1px);
        list-style-type: none;
        padding: 20px 20px;
        width: 240px;
        border-top: 1px solid #3a3a3a;
        opacity: 0;
        > li {
          position: relative;
          line-height: 2em;
          padding: 9px 20px;
          a {
            opacity: 1;
          }
        }
      }
      &:hover .dropdown-content {
        opacity: 1;
        transition: all 0.4s ease-in-out;
        > li:hover {
          background-color: rgba(0, 0, 0, 0.03);
          > a {
            opacity: 0.7;
          }
        }
      }
    }
  }
}
